<!DOCTYPE >
<html ng-app="myApp">
<head>
	<title>Message List</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
     <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
</head>
<body>
<div class="container" ng-controller="AppCtrl"> 
	<h1>Message List<h1>

     <table class="table table-striped table-hover">
     	<thead>
     		<tr>
     			<th >Message</th>    			
     			<th >Action</th>     			
     		</tr>
     	</thead>
     	<tbody>
     	 <form name="myForm">
     		<tr>
     			<td ><input type='text' name='message'class='form-control' ng-model='message.content' placeholder="Enter message"  required>
     			</td>    	
     			<td ><button class="btn btn-primary" ng-click='messageValidation(addMessage)'>Add Message</button>
     			<button class='btn btn-info' ng-click='messageValidation(isPalindrome)'>isPalindrome</button>
				<button class='btn btn-info' ng-click='clear()'>Clear</button>
     			</td>
     		</tr>
     		<tr ng-repeat='message in messagelist'>
     			<td >{{message.content}}</td>
     			<td ><button class="btn btn-danger" ng-click='remove(message._id)'>Delete</button>
				<button class="btn btn-warning" ng-click='retrieve(message._id)'>Retrieve</button>
     			</td>
     			
     		</tr> 
     	<form>
     	</tbody>
     </table>
     </table>
 
 </div>
 <script src="/controllers/message.js"></script>
</body>
</html>
